@import './colors';

@import '../../node_modules/angular-material/modules/scss/angular-material';

@import '../../node_modules/angular-material/modules/scss/angular-material.layout-attributes';

@import '../../node_modules/angular-material/modules/scss/angular-material.layouts';

@import '../../node_modules/angular-material-icons/angular-material-icons.css';

* {
  font-family: Roboto, sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

*,
*:hover,
*:focus,
*.active {
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

.app {
  height: 100vh;
  width: 100vw;
}