<div  class="header-component">
  <md-toolbar class="header">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h3>
        Dashboard
      </h3>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <ng-md-icon icon="language"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <ng-md-icon icon="settings_overscan"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <ng-md-icon icon="apps"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div class="sub-header">
    <div class="history">
      <span>Home</span>
    </div>
    <md-button class="help-btn md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
      <ng-md-icon icon="help_outline"></ng-md-icon>
    </md-button>
  </div>
</div>
